@use '../../_variables' as *;

.action-buttons {

    .action-btns > .two-buttons {
        display: flex;
    }

    .modal-content {
        padding: $sma;
        margin-right: 34px;

        .modal-message {
            text-align: left;
            font-size: $big;
        }

        .update-form > h4 {
            padding: 0;
        }
    }
}