@use '../../../../_variables' as *;

.detail-comment {
    border-bottom: 2px solid $dark;

    .detail-article {
        display: grid;
        grid-template-columns: 110px 1fr;
        color: $light-secondary;
        background-color: $primary;
        padding: $med;

        header {
            text-align: center;
            margin-top: 16px;

            h3 {
                font-size: $med;
                margin-top: 4px;
            }
        }

        p {
            margin: 0;
            padding-left: $med;
            font-size: $sma;
            margin-bottom: $sma;
        }
    }
}