@use '../../_variables' as *;

.my-button {
    display: flex;
    justify-content: flex-end;

    button {
        cursor: pointer;
        background-color: $dark;
        color: $light-secondary;
        border-color: $dark;
        padding: 8px;
        border-radius: 8px;
        min-width: 110px;
    }

    button:hover {
        background-color: $dark-secondary;
        color: $light-tertiary;
    }

    button:disabled {
        cursor: no-drop;
        background-color: $light-tertiary;
        color: $light-primary;
        border-color: $light-secondary;
    }
}