@use '../../_variables' as *;

.my-button {
    display: flex;
    justify-content: flex-end;

    button {
        background-color: $dark;
        color: $light-secondary;
        padding: 8px;
        border-radius: 8px;
        border-color: $dark;
        min-width: 110px;
    }

    button:disabled {
        background-color: grey;
    }
}