@use '../../_variables' as *;

.my-button {
    background-color: $dark;
    color: $font-secondary;
    padding: 8px;
    border-radius: 8px;
    border-color: $dark;
    min-width: 100px;
}

.my-button:disabled {
    background-color: grey;
}