@use '../../../../_variables' as *;

.detail-post {
    padding: 16px;
    color: $light-primary;
    background-color: $primary;
    font-size: 14px;
    font-weight: 200;

    .name {
        font-size: 14px;
        font-weight: 800;
    }

    .title {
        font-size: $big;
        font-weight: 500;
        display: block;
    }

    .content {
        font-size: $med;
    }
}