@use '../../_variables' as *;

.spinner-btn-container {
  margin-top: 8px;

  .spinner {
    width: 16px;
    height: 16px;
    border-top: 4px solid $light-secondary;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    margin: auto;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}