@use '../../_variables' as *;

aside {
    position: fixed;
    top: 52px;
    bottom: 0;
    left: 0;
    width: 256px;
    overflow-y: auto;
    display: flex;
    background-color: $dark;
    font-weight: 400;
    color: $font-primary;
    border-top: 2px solid $primary;
}

/* 
    text-decoration: none; */