@use '../../_variables' as *;

aside {
    position: fixed;
    top: 52px;
    bottom: 0;
    left: 0;
    width: 256px;
    overflow-y: auto;
    display: flex;
    background-color: $dark;
    font-weight: 400;
    color: $light-primary;
    border-top: 2px solid $primary;

    ul {
        font-size: $big;
        list-style: none;
        font-weight: 500;

        li {
            cursor: pointer;
            padding-bottom: 8px;
        }

        li:hover {
            color: $light-secondary;
        }
    }
}