@use '../../_variables' as *;

.main {
    margin-left: 220px;
    margin-top: 52px;
    overflow-y: auto;
    max-width: 1000px;    
    height: 100vh;
    background-color: $dark-tertiary;
}

.scrollable {
    scrollbar-width: thin;
    scrollbar-color: $light-secondary $dark;
}
.scrollable::-webkit-scrollbar {
    width: 8px;
}
.scrollable::-webkit-scrollbar-track {
    background: $dark;
}
.scrollable::-webkit-scrollbar-thumb {
    background-color: $light-secondary;
    border-radius: 6px;
    border: 2px solid $dark;
}
.scrollable::-webkit-scrollbar-thumb:hover {
    background-color: $light-primary;
}