@use '../../../../_variables' as *;

.view-more-comments {
    background-color: $dark-secondary;
    text-align: center;

    .nested-comment {
        /* margin-left: 36px; */
        background-color: $primary;
    }

    a {
        color: $light-tertiary;
        cursor: pointer;
    }

    a:hover {
        color: $light-primary;
    }

}