@use '../../../../_variables' as *;

.action-post-buttons {

    .modal-content {
        padding: $sma;
        margin-right: 34px;

        .modal-message {
            text-align: center;
            font-size: $big;
        }
    }
}