@use '../../_variables' as *;

.navbar {
    background-color: $dark;
    display: flex;
    top: 0;
    left: 0;
    padding: 8px 16px;
    width: calc(100% - 32px);
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    position: fixed;

    .application {
        height: 36px;
    }

    .profile {
        display: flex;
        align-items: center;

        .user {
            color: whitesmoke;
            padding-right: $med;
            font-size: $big;
            font-weight: 700;
        }
    }


}