@use '../_variables' as *;

.navbar {
    background-color: $dark;
    display:flex;
    position: fixed;
    top: 0;
    left: 0;
    padding: 8px 16px;
    width: calc(100% - 32px);
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $primary;

    .application {
        display: flex;

        .logo {
            color: white;
        }
        input {
            border-radius: 16px;
            outline: none;
            background-color: $dark;
            padding: 6px;
            width: 160px;
            margin-left: 16px;
            text-align: center;
            font-size: 14px;
        }
    }

    .profile {
        display: flex;
        align-items: center;

        .user {
            color: whitesmoke;
            padding-right: 16px;
            font-size: 18px;
        }
    }

    
}