@use '../../_variables' as *;

input {
    background-color: whitesmoke;
    color: black;
    padding: 6px;
    width: 250px;
    margin-left: 16px;
    font-size: $sma;
}

.box {
    margin: 10% 20%;
    padding: $med;
    height: 360px;
    background-color: $dark;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}