@use '../../../../_variables' as *;

.narrow-container {
    background-color: $primary;
    border-top: 2px solid $dark;
    padding: 16px;
    color: $font-secondary;
    font-size: 14px;
    font-weight: 200;
}