$primary: #0C1A1A;
$secondary: #122323;
$tertiary: #193131;

$dark: #060c0c;
$dark-secondary: #0c1616;

$light-primary: #f5f5f5e6;
$light-secondary: #6ACFC7;
$light-tertiary: #add3d0;

$xbig: 24px;
$big: 18px;
$med: 16px;
$sma: 14px