@use './variables' as *;

.dashboard {
    position: relative;
    color: whitesmoke;
}

.photo {
    height: 36px;
    width: 36px;
    border-radius: 18px;
}

input {
    color: $font-primary;
}

h2 {
    color: $font-primary;
    font-size: 24px;
    margin-bottom: 16px;
}

.shorten-content {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}