
@use './variables' as *;

.dashboard {
    position: relative;
    color: whitesmoke;
}

.photo {
    height: 36px;
    width: 36px;
    border-radius: 18px;
}

input {
    color: $font-primary;
}

button {
    background-color: $dark;
    color: $font-secondary;
    padding: 8px;
    border-radius: 8px;
    border-color: $dark;
    min-width: 100px;
}

h2 {
    color: $font-primary;
    font-size: 24px;
    margin-bottom: 16px;
}
