@use './variables' as *;

.dashboard {
    position: relative;
    color: whitesmoke;
}

input {
    color: $light-primary;
}

h2 {
    color: $light-primary;
    font-size: $xbig;
    margin-bottom: $med;
}

.shorten-content {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}