:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
}

html {
  background-image: linear-gradient(to top, #0C1A1A, #6ACFC7);
  height: 100%;
}