@use '../../../_variables' as *;

.add-post {
    background-color: $primary;
    display: flex;
    padding: 16px;

    .post-form {
        margin-left: 16px;

        input {
            background-color: transparent;
            border: 0 none;
            border-radius: 0;
            box-shadow: none;
            min-height: 32px;
            height: auto;
        }
    }
}